root = true

[*]
indent_style = tab
tab_width = 4
indent_size = tab
insert_final_newline = true
end_of_line = lf
charset = utf-8
max_line_length = 80
trim_trailing_whitespace = true

[*.java]
ij_java_continuation_indent_size = 8
ij_continuation_indent_size = 8
ij_java_indent_case_from_switch = true

[*.json]
tab_width = 2
